/* --------Fonts-------- */

@font-face {
	font-family: NexaLight;
	src: url(../fonts/Nexa_Light.ttf);
}

@font-face {
	font-family: NexaBold;
	src: url(../fonts/Nexa_Bold.ttf);
}

@font-face {
	font-family: Baksheesh;
	src: url(../fonts/Baksheesh.ttf);
}

@font-face {
	font-family: BaksheeshThin;
	src: url(../fonts/Baksheesh-Thin.ttf);
}

@font-face {
	font-family: BaksheeshBold;
	src: url(../fonts/Baksheesh-Bold.ttf);
}

@font-face {
	font-family: Borda;
	src: url(../fonts/Borda-Medium.ttf);
}

/* --------Structure Element Styles-------- */

* { 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none; 
	user-select: none;
	overflow: hidden;
}

.BG {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: 0.5s ease-in-out all;
}

.BG-overlay {
	background: no-repeat center center fixed;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.5s ease-in-out all;
	mix-blend-mode: overlay;
	opacity: 0.5;
}

.Main-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.Top-container {
	display: flex;
	flex-direction: row;
	height: 12.5%;
	width: 40%;
	margin: 0 auto;
}

.Top-left-container {
	text-align: left;
	height: 100%;
	width: 50%;
	margin: 0;
}

.Top-right-container {
	text-align: right;
	height: 100%;
	width: 50%;
	margin: 0;
}

.Middle-container {
	text-align: left;
	height: 12.5%;
	width: 40%;
	margin: 0 auto;
}

.Search-container {
	height: 10%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.Link-container {
	height: 20%;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-around;
}

.Category-container {
	height: 25%;
	width: 15%;
	transition: 0.5s ease-in-out all;
}

.Link-index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: 0.5s ease-in-out all;
}

.Category-container:hover {
	height: 100%;
}

/* --------Content Element Styles-------- */

#countbox2 {
	margin: 0 auto;
	font-size: 2vh;
	font-family: Borda;
	color: rgba(255, 255, 255, 0.75);
}

.TimeHMS {
	margin: 0;
	font-size: 6vh;
	font-family: Baksheesh;
	color: rgba(255, 255, 255, 1);
}

.TimeDate {
	margin-top: 0;
	font-size: 2.5vh;
	font-family: Borda;
	color: rgba(255, 255, 255, 0.75);
}

.TimeWorld {
	margin: 0;
	font-size: 1.75vh;
	font-family: BaksheeshBold;
	color: rgba(255, 255, 255, 1);
}

.SearchBar {
	-webkit-user-select: text; 
	-khtml-user-select: text; 
	-moz-user-select: text; 
	-o-user-select: text; 
	user-select: text; 
	margin: auto;
	width: 60%;
	font-family: Baksheesh;
	font-size: 4vh;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.5s ease-in-out all;
}

.Bar {
	display: block;
	margin: 0 auto;
	height: 0.5vh;
	width: 60%; 
	text-align: center;
	background: rgba(255, 255, 255, 1);
	transition: 0.5s ease-in-out all;
}

.SearchBar:focus {
	width: 90%;
	outline: none;
}

.SearchBar:focus ~ .Bar {
	width: 90%;
	background: linear-gradient(90deg, rgba(0, 178, 255, 1), rgba(139, 22, 255, 1), rgba(255, 51, 51, 1));
}

.Icons {
	margin: 0 auto;
	width: 5vh;
	pointer-events: none;
	transition: 0.25s ease-in-out all;
}

.Category-container:hover > .Icons {
	opacity: 0;
}

.Link {
	font-family: Baksheesh;
	font-size: 2.5vh;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.Category-container:hover > .Link-index {
	margin-top: -5vh;
	opacity: 1;
}

.Link:before {
	content: '>';
	opacity: 0;
	position: relative;
	left: -10%;
	transition: 0.25s ease-in-out;
}

.Link:hover:before {
	opacity: 1;
	left: -2%;
}

.Link:after {
	content: '<';
	opacity: 0;
	position: relative;
	right: -10%;
	transition: 0.25s ease-in-out;
}

.Link:hover:after {
	opacity: 1;
	right: -2%;
}