/* --------Fonts-------- */

/*Weather font*/
@font-face {
	font-family: Artill;
	src:url('../fonts/artill_clean_icons-webfont.eot');
	src:url('../fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/artill_clean_icons-webfont.woff') format('woff'), 
		url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'), 
		url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
	font-weight:normal;
	font-style:normal;
}

.icon-0:before{content:":"} .icon-1:before{content:"p"} .icon-2:before{content:"S"} .icon-3:before{content:"Q"} .icon-4:before{content:"S"} .icon-5:before{content:"W"} .icon-6:before{content:"W"} .icon-7:before{content:"W"} .icon-8:before{content:"W"} .icon-9:before{content:"I"} .icon-10:before{content:"W"} .icon-11:before{content:"I"} .icon-12:before{content:"I"} .icon-13:before{content:"I"} .icon-14:before{content:"I"} .icon-15:before{content:"W"} .icon-16:before{content:"I"} .icon-17:before{content:"W"} .icon-18:before{content:"U"} .icon-19:before{content:"Z"} .icon-20:before{content:"Z"} .icon-21:before{content:"Z"} .icon-22:before{content:"Z"} .icon-23:before{content:"Z"} .icon-24:before{content:"E"} .icon-25:before{content:"E"} .icon-26:before{content:"3"} .icon-27:before{content:"a"} .icon-28:before{content:"A"} .icon-29:before{content:"a"} .icon-30:before{content:"A"} .icon-31:before{content:"6"} .icon-32:before{content:"1"} .icon-33:before{content:"6"} .icon-34:before{content:"1"} .icon-35:before{content:"W"} .icon-36:before{content:"1"} .icon-37:before{content:"S"} .icon-38:before{content:"S"} .icon-39:before{content:"S"} .icon-40:before{content:"M"} .icon-41:before{content:"W"} .icon-42:before{content:"I"} .icon-43:before{content:"W"} .icon-44:before{content:"a"} .icon-45:before{content:"S"} .icon-46:before{content:"U"} .icon-47:before{content:"S"}

@font-face {
	font-family: OlmpicBranding;
	src: url(../fonts/Olympic_Branding.ttf);
}

@font-face {
	font-family: NexaLight;
	src: url(../fonts/Nexa_Light.ttf);
}

@font-face {
	font-family: NexaBold;
	src: url(../fonts/Nexa_Bold.ttf);
}

@font-face {
	font-family: Baksheesh;
	src: url(../fonts/Baksheesh.ttf);
}

@font-face {
	font-family: BaksheeshThin;
	src: url(../fonts/Baksheesh-Thin.ttf);
}

@font-face {
	font-family: BaksheeshBold;
	src: url(../fonts/Baksheesh-Bold.ttf);
}

@font-face {
	font-family: Gidole;
	src: url(../fonts/Gidole.ttf);
}

/* --------Structure Element Styles-------- */

* { 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none; 
	user-select: none;
	overflow: hidden;
}

.BG {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: 0.25s ease-in-out all;
}

.Main-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.Time-container {
	height: 20%;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}

.Search-container {
	height: 10%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.Link-container {
	height: 20%;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-around;
}

.Category-container {
	height: 25%;
	width: 15%;
	transition: 0.5s ease-in-out all;
}

.Link-index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: 0.5s ease-in-out all;
}

.Category-container:hover {
	height: 100%;
}

/* --------Content Element Styles-------- */

.TimeHMS {
	margin: 2vh auto -7vh auto;
	font-size: 5vh;
	font-family: Baksheesh;
	color: rgba(255, 255, 255, 1);
}

.TimeWeek {
	margin: 0 auto 0 auto;
	font-size: 16vh;
	font-family: OlmpicBranding;
	color: rgba(255, 255, 255, 0.75);
}

.TimeDate {
	margin: -6vh auto 2vh auto;
	font-size: 4vh;
	font-family: Baksheesh;
	color: rgba(255, 255, 255, 1);
}

.SearchBar {
	-webkit-user-select: text; 
	-khtml-user-select: text; 
	-moz-user-select: text; 
	-o-user-select: text; 
	user-select: text; 
	margin: auto;
	width: 60%;
	font-family: Baksheesh;
	font-size: 4vh;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.5s ease-in-out all;
}

.Bar {
	display: block;
	margin: 0 auto;
	height: 0.5vh;
	width: 60%; 
	text-align: center;
	background: rgba(255, 255, 255, 1);
	transition: 0.5s ease-in-out all;
}

.SearchBar:focus {
	width: 90%;
	outline: none;
}

.SearchBar:focus ~ .Bar {
	width: 90%;
	background: linear-gradient(90deg, rgba(0, 178, 255, 1), rgba(139, 22, 255, 1), rgba(255, 51, 51, 1));
}

.Icons {
	margin: 0 auto;
	width: 5vh;
	pointer-events: none;
	transition: 0.25s ease-in-out all;
}

.Category-container:hover > .Icons {
	opacity: 0;
}

.Link {
	font-family: NexaLight;
	font-size: 2vh;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.Category-container:hover > .Link-index {
	margin-top: -5vh;
	opacity: 1;
}

.Link:before {
	content: '[';
	opacity: 0;
	position: relative;
	left: -10%;
	transition: 0.25s ease-in-out;
}

.Link:hover:before {
	opacity: 1;
	left: -2%;
}

.Link:after {
	content: ']';
	opacity: 0;
	position: relative;
	right: -10%;
	transition: 0.25s ease-in-out;
}

.Link:hover:after {
	opacity: 1;
	right: -2%;
}